.banner-section, .services-section{
  width: auto;
  height: auto;
}
/*Banner Section*/
.banner-btn .block-editor-rich-text__editable.wp-block-button__link, .services-btn .block-editor-rich-text__editable.wp-block-button__link{
  border-radius: 12px 0 12px 0 !important;
}
.banner-btn .block-editor-rich-text__editable.wp-block-button__link:hover{
  background-color: #373293 !important;
}
/*Services Section*/
.services-btn .block-editor-rich-text__editable.wp-block-button__link:hover{
  background-color: #e88c09 !important;
}
.left-service-box, .right-service-box{
  box-shadow: 0 0 15px 1px #ddd;
  border-radius: 30px 0 30px 0;
}
.left-service-box figure, .right-service-box figure{
  margin-bottom: 0;
}
.left-service-box img {
  border-radius: 30px 0 0 0 !important;
}
.right-service-box img {
  border-radius: 0 0 30px 0 !important;
}
.left-service-box .block-editor-rich-text__editable.wp-block-button__link, .right-service-box .block-editor-rich-text__editable.wp-block-button__link{
  background-color: #fff !important;
  color: #e88c09 !important;
  padding: 0 !important;
}
.left-service-box .block-editor-rich-text__editable.wp-block-button__link:after, .right-service-box .block-editor-rich-text__editable.wp-block-button__link:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left: 10px;
}